.background {
  viewport-fill: black;
}

#hour {
  font-size: 120;
  font-family: Seville-Book;
  text-length: 32;
  x: 50%-10;
  y: 50%+40;
  fill: white;
  text-anchor: end;
}

#colon {
  font-size: 120;
  font-family: Seville-Book;
  text-length: 32;
  x: 50%;
  y: 50%+40;
  fill: white;
  text-anchor: middle;
}

#minutes {
  font-size: 120;
  font-family: Seville-Book;
  text-length: 32;
  x: 50%+10;
  y: 50%+40;
  fill: #999999;
  text-anchor: start;
}

#heart {
  x: 50%-30;
  y: 50%+70;
  fill: red;
}

#hr {
  font-size: 26;
  x: 50%;
  y: 50%+90;
  fill: white;
  text-anchor: start;
  text-length: 50;
}

#date {
  font-size: 26;
  x: 50%;
  y: 50%-68;
  text-anchor: middle;
  fill: white;
  text-length: 100;
}


#battery {
  font-size: 20;
  x: 100%-5;
  y: 25;
  text-anchor: end;
  fill: white;
  text-length: 4;
}

#goal-value {
  font-size: 20;
  x: 35;
  y: 25;
  text-anchor: start;
  fill: white;
  text-length: 10;
}

.goal-icon {
  x: 10;
  y: 7;
  fill: white;
  display: none;
}

.goal-active-minutes-enabled .goal-icon-active-minutes {
  display: inline;
}

.goal-calories-enabled .goal-icon-calories {
  display: inline;
}

.goal-distance-enabled .goal-icon-distance {
  display: inline;
}

.goal-floors-enabled .goal-icon-floors {
  display: inline;
}

.goal-steps-enabled .goal-icon-steps {
  display: inline;
}
