$goals: ("active-minutes", "calories", "distance", "floors", "steps");

@mixin font-clock() {
  font-size: 120;
  font-family: Seville-Book;
  text-length: 32;
}

@mixin font-goals() {
  fill: white;
  font-size: 26;
}

@mixin font-date() {
  fill: white;
  font-size: 20;
}

.background {
  viewport-fill: black;
}

#hour {
  @include font-clock();
  x: 50%-10;
  y: 50%+40;
  fill: white;
  text-anchor: end;
}

#colon {
  @include font-clock();
  x: 50%;
  y: 50%+40;
  fill: white;
  text-anchor: middle;
}

#minutes {
  @include font-clock();
  x: 50%+10;
  y: 50%+40;
  fill: #999999;
  text-anchor: start;
}

#heart {
  x: 50%-30;
  y: 50%+70;
  fill: red;
}

#hr {
  @include font-date();
  x: 50%;
  y: 50%+90;
  text-anchor: start;
  text-length: 50;
}

#date {
  @include font-date();
  x: 50%;
  y: 50%-68;
  text-anchor: middle;
  text-length: 100;
}

#battery {
  @include font-goals();
  x: 100%-5;
  y: 25;
  text-anchor: end;
  text-length: 4;
}

#goal-value {
  @include font-date();
  x: 35;
  y: 25;
  text-anchor: start;
  text-length: 10;
}

.goal-icon {
  x: 10;
  y: 7;
  fill: white;
  display: none;
}

@each $goal in $goals {
  .goal-#{$goal}-enabled .goal-icon-#{$goal} {
    display: inline;
  }
}
